body.main-body {
  background-color: #5093b7;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

  header.main-header {
    background-color: #276282;
    padding: 60px 0;
    display: block;
    h1 {
      text-align: center;
      display: block;
      margin: 0px auto;
      a {
        color: #fff;
        font-weight: bold;
        font-size: 72px;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        &:hover {
          color: #5093b7;
        }
      }
    }
  }
  .btn-wrapper {
    width: 900px;
    display: block;
    margin: 30px auto;
    padding: 30px;
    background-color: #eff8fc;
    border-radius: 5px;
    li {
      display: inline-block;
      background-color: #276282;
      text-align: center;
      margin-right: 6px;
      margin-bottom: 10px;
      border-radius: 4px;
      &:hover {
        background-color: #eff8fc;
        a {
          color: #276282;
          font-weight: bold;
        }
      }
      a {
        border-radius: 4px;
        height: 36px;
        display: block;
        padding: 0 20px;
        line-height: 36px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        border: 5px solid #276282;
      }
    }
  }
  .contact-wrapper {
    width: 900px;
    display: block;
    margin: 30px auto;
    padding: 30px;
    background-color: #eff8fc;
    border-radius: 5px;
    .hero-wrapper {
      padding-bottom: 20px;
      border-bottom: 1px dotted #276282;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      color: #276282;
      margin-bottom: 16px;
    }
    p {
      color: #276282;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }
    a {
      color: #276282;
      text-decoration: none;
      font-weight: bold;
      margin-right: 12px;
      font-size: 18px;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

@media screen and (max-width: 768px) {
  /*　画面サイズ 768pxまで適用　*/
  header.main-header {
    padding: 32px 0;
    h1 a {
      font-size: 36px;
    }
  }
  .btn-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 12px;
    li a {
      height: 26px;
      line-height: 26px;
      padding: 0 8px;
    }
  }
  .contact-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 12px;
    .hero-wrapper {
      padding-bottom: 12px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    a {
      margin-right: 6px;
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
  .main-wrapper {
    padding: 15px;
  }
}
