<%
var data = jsonData;
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="皆守ひいろボタンです">
  <meta name="keywords" content="皆守ひいろ,VTuber,ひいろ">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <title>タイトル</title>
</head>
<body class="main-body">
  <header class="main-header">
    <h1>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">ひ</a>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">い</a>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">ろ</a>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">ボ</a>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">タ</a>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')">ン</a>
    </h1>
  </header>
  <ul class="btn-wrapper">
<% for (var item in data.voice.category) { %>
<% for (var i = 1; i <= data.voice.category[item].num; i++) { %>
    <li>
      <a href="javascript:void(0)" onclick="AudioPLay('se.mp3')"><%= data.voice.category[item].name %> <%= i %></a>
    </li>
<% } %>
<% } %>
  </ul>
  <script src='/js/main.js'></script>
</body>
</html>
