<%
var data = jsonData;
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="皆守ひいろボタンです">
  <meta name="keywords" content="皆守ひいろ,VTuber,ひいろ">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>ひいろボタン</title>
</head>
<body class="main-body">
  <header class="main-header">
    <h1>
      <a href="javascript:void(0)" onclick="AudioPLay('hi.mp3')" class="h1-large">ひ</a>
      <span class="h1-small">い</span>
      <span class="h1-small">ろ</span>
      <span>ボ</span>
      <span>タ</span>
      <span>ン</span>
    </h1>
    <div class="tutui">
      <a href="http://twitter.com/share?url=https://sanbaimal.github.io/hero_btn/&text=%e3%80%90%e7%9a%86%e5%ae%88%e3%81%b2%e3%81%84%e3%82%8d%e3%80%91%e3%81%b2%e3%81%84%e3%82%8d%e3%83%9c%e3%82%bf%e3%83%b3&hashtags=%e7%9a%86%e5%ae%88%e3%81%b2%e3%81%84%e3%82%8d" target="_blank">つついのつい</a>
    </div>
  </header>
  <div class="main-wrapper">
    <ul class="btn-wrapper">
<% for (var item in data.voice.category) { %>
<% for (var i = 1; i <= data.voice.category[item].num; i++) { %>
      <li>
        <a href="javascript:void(0)" onclick="AudioPLay('<%= data.voice.category[item].en %><%= i %>.mp3')"><%= data.voice.category[item].name %> <%= i %></a>
      </li>
<% } %>
<% } %>
    </ul>
    <div class="contact-wrapper">
      <div class="hero-wrapper">
        <h3>＠ひいろ隊長</h3>
        <a href="https://www.youtube.com/channel/UCuGMkxJA_icuiF01u8f3Y2Q" target="_blank">ゆーちゅーぶ</a>
        <a href="http://bit.ly/2MVLANH" target="_blank">ニコニコ動画</a>
        <a href="https://twitter.com/HeroMinamori" target="_blank">ツイッター</a>
      </div>
      <div class="sanbai-wrapper">
          <h3>＠要望・ボイス情報</h3>
          <p><a href="https://twitter.com/sanbaimal" target="_blank">さんばいツイッター</a> でご連絡ください。</p>
        </div>
    </div>
  </div>
  <script src='js/main.js'></script>
</body>
</html>
