@charset "UTF-8";
body {
  background-color: #45aae0;
}

@media screen and (min-width: 769px) {
  /*　画面サイズ 769pxから適用　*/
  header.main-header {
    background-color: #276282;
    padding: 60px 0;
    display: block;
  }
  header.main-header h1 {
    color: #fff;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    display: block;
    margin: 0px auto;
  }
  .btn-wrapper {
    width: 900px;
    display: block;
    margin: 30px auto;
    padding: 30px;
    border-radius: 30px;
    background-color: #97d0ef;
  }
  .btn-wrapper li {
    display: inline-block;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    border: 4px solid #276282;
    margin-right: 2px;
  }
  .btn-wrapper li a {
    height: 36px;
    display: block;
    padding: 0 20px;
    line-height: 36px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  /*　画面サイズ 768pxまで適用　*/
  .content {
    color: #red;
  }
}
